/***
 * GRID OBJECT
 * ===========
 *
 * @name         grid
 * @desc         Fluid grid layout with optional fixed gutters
 * @author       quentind
 * @tested       IE7+
 * @requires     
 */
.grid {
}

/*
 * Clearfix the grid
 */
.grid:before,
.grid:after {
	content:" ";
	display:table;
}

.grid:after {
	clear:both;
}

.grid {
	*zoom:1;
}

	/*
	 * Columns
	 */
	.grid__col {
		float:left;
		word-wrap:break-word;

		-webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box;
		        box-sizing:border-box;
	}

		/* Fix for opera shitty rounding of decimal in % sizes */
		.grid__col:last-child {
			float:none;
			display:table-cell;
			width:10000px;
			*width:auto;
			*zoom:1;	
		}

		.grid__col:first-child:last-child {
			display:block;
			width:auto;
		}
		
/*
 * Gutters
 * -
 * Extends grid
 * Note: IE7 Support with /polyfills/size-ie7.css (beware: CSS Expressions)
 */
.grid--gutter,
.grid--gutter .grid {
	margin-left:-20px; /* (gutter size) */
}

	.grid--gutter .grid__col {
		padding:0 0 20px 20px; /* 0 0 (gutter size) (gutter size) */
	}

	.grid--gutter .grid:last-child > .grid__col {
		padding-bottom:0;
	}